{% extends 'main/layout.html' %}

{% block title %}
이용 신청하기
{% endblock title %}

{% block content %}
<div class="container">
<div class="page">
	<h1>
		이용 신청하기
	</h1>
    
    <div class="row">
        
	<div class="col-sm-6">
		<div class="form-group row">
			<label for="labelAddress" class="col-sm-4">주차장 주소</label>
			<label id="labelAddress" class="col-sm-6">제주특별자치도 제주시 광양9길 10</label>
		</div>
		<div class="form-group row">
			<label for="labelAddress" class="col-sm-4">전화번호</label>
			<label id="labelAddress" class="col-sm-6">010-9999-5555</label>
		</div>
		<div class="form-group row">
			<label for="labelAddress" class="col-sm-4">시간당 이용 금액</label>
			<label id="labelAddress" class="col-sm-6">1000 원</label>
		</div>
		<div class="form-group row">
			<label for="labelAddress" class="col-sm-4">이용 가능 시간</label>
			<label id="labelAddress" class="col-sm-6">시간시간시간</label>
		</div>
	</div>
    
	<form class="col-sm-6">
		<div class="form-group row">
			<label for="inputDate" class="col-sm-3 col-form-label">날짜</label>
			<div class="col-sm-9">
				<input type="date" class="form-control" id="inputDate">
			</div>
		</div>
		<div class="form-group row">
			<label for="inputTime2" class="col-sm-3 col-form-label">이용 가능 시간</label>
			<div class="col-sm-4">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
					<label class="form-check-label word-line" for="defaultCheck1">00:00-01:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
					<label class="form-check-label word-line" for="defaultCheck2">01:00-02:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
					<label class="form-check-label word-line" for="defaultCheck3">02:00-03:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
					<label class="form-check-label word-line" for="defaultCheck4">03:00-04:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
					<label class="form-check-label word-line" for="defaultCheck5">04:00-05:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
					<label class="form-check-label word-line" for="defaultCheck6">05:00-06:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
					<label class="form-check-label word-line" for="defaultCheck7">06:00-07:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
					<label class="form-check-label word-line" for="defaultCheck8">07:00-08:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
					<label class="form-check-label word-line" for="defaultCheck9">08:00-09:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
					<label class="form-check-label word-line" for="defaultCheck10">09:00-10:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
					<label class="form-check-label word-line" for="defaultCheck11">10:00-11:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
					<label class="form-check-label word-line" for="defaultCheck12">11:00-12:00</label>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
					<label class="form-check-label word-line" for="defaultCheck13">12:00-13:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
					<label class="form-check-label word-line" for="defaultCheck14">13:00-14:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
					<label class="form-check-label word-line" for="defaultCheck15">14:00-15:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
					<label class="form-check-label word-line" for="defaultCheck16">15:00-16:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
					<label class="form-check-label word-line" for="defaultCheck17">16:00-17:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
					<label class="form-check-label word-line" for="defaultCheck18">17:00-18:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck19">
					<label class="form-check-label word-line" for="defaultCheck19">18:00-19:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck20">
					<label class="form-check-label word-line" for="defaultCheck20">19:00-20:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck21">
					<label class="form-check-label word-line" for="defaultCheck21">20:00-21:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck22">
					<label class="form-check-label word-line" for="defaultCheck22">21:00-22:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck23">
					<label class="form-check-label word-line" for="defaultCheck23">22:00-23:00</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="defaultCheck24">
					<label class="form-check-label word-line" for="defaultChec24">23:00-24:00</label>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="inputCarnum" class="col-sm-3 col-form-label">차량 번호</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="inputCarnum">
			</div>
		</div>

		<div class="form-group row right-button-group">
			<a class="btn btn-secondary right-button" href="#" role="button">취소</a>
			<a class="btn btn-success right-button" href="#" role="button">확인</a>
		</div>
	</form>
        
    </div>
</div>
</div>
{% endblock %}