{% extends 'main/layout.html' %}

{% block title %}
세부사항
{% endblock title %}

{% block content %}
{% load staticfiles %}
<div class="page">
    <header>
        <h1>세부사항</h1>
    </header>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <div id="map" style="width:500px;height:400px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=54e0d986be97f038df9b40189afca1d8"></script>
    
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new daum.maps.LatLng(33.50002358, 126.527621),
			level: 3
		};

		var map = new daum.maps.Map(container, options);
        // var places = new daum.maps.services.Places();
	</script>
    
    <div class="row">
        <div class="col-sm-4">
            {% if pLot_obj.photo %}
            <img class="detailimg" src='{{ pLot_obj.photo.url }}'>     
            {% else %}
                <img class="detailimg" src="{% static 'images/kakao.jpg' %}" alt="parkingimg">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <div class="form-group row">
                <label for="labelAddress" class="col-sm-3 detail-title">주차장 주소</label>
                <label id="labelAddress" class="col-sm-5 detail-font">{{pLot_obj.address}}</label>
            </div>
            <div class="form-group row">
                <label for="labelAddress" class="col-sm-3 detail-title">전화번호</label>
                <label id="labelAddress" class="col-sm-5 detail-font">{{pLot_obj.tel}}</label>
            </div>
            <div class="form-group row">
                <label for="labelAddress" class="col-sm-3 detail-title">시간당 이용 금액</label>
                <label id="labelAddress" class="col-sm-5 detail-font">{{pLot_obj.price}}</label>
            </div>
            <div class="form-group row">
                <label for="inputTime2" class="col-sm-3 col-form-label detail-title">이용 가능 시간</label>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label word-line" for="defaultCheck1">00:00-01:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label word-line" for="defaultCheck2">01:00-02:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label word-line" for="defaultCheck3">02:00-03:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label word-line" for="defaultCheck4">03:00-04:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                        <label class="form-check-label word-line" for="defaultCheck5">04:00-05:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                        <label class="form-check-label word-line" for="defaultCheck6">05:00-06:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                        <label class="form-check-label word-line" for="defaultCheck7">06:00-07:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                        <label class="form-check-label word-line" for="defaultCheck8">07:00-08:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                        <label class="form-check-label word-line" for="defaultCheck9">08:00-09:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                        <label class="form-check-label word-line" for="defaultCheck10">09:00-10:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                        <label class="form-check-label word-line" for="defaultCheck11">10:00-11:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                        <label class="form-check-label word-line" for="defaultCheck12">11:00-12:00</label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                        <label class="form-check-label word-line" for="defaultCheck13">12:00-13:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                        <label class="form-check-label word-line" for="defaultCheck14">13:00-14:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                        <label class="form-check-label word-line" for="defaultCheck15">14:00-15:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
                        <label class="form-check-label word-line" for="defaultCheck16">15:00-16:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
                        <label class="form-check-label word-line" for="defaultCheck17">16:00-17:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
                        <label class="form-check-label word-line" for="defaultCheck18">17:00-18:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck19">
                        <label class="form-check-label word-line" for="defaultCheck19">18:00-19:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck20">
                        <label class="form-check-label word-line" for="defaultCheck20">19:00-20:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck21">
                        <label class="form-check-label word-line" for="defaultCheck21">20:00-21:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck22">
                        <label class="form-check-label word-line" for="defaultCheck22">21:00-22:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck23">
                        <label class="form-check-label word-line" for="defaultCheck23">22:00-23:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck24">
                        <label class="form-check-label word-line" for="defaultCheck24">23:00-24:00</label>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="form-group row right-button-group">
        <button type="button" class="btn btn-success right-button">수정</button>
        <button type="button" class="btn btn-secondary right-button">삭제</button>
        <button type="button" class="btn btn-secondary right-button">목록</button>
    </div>
    <div class="form-group row right-button-group">
        <button type="button" class="btn btn-secondary right-button">목록</button>
        <button type="button" class="btn btn-success right-button">이용신청</button>
    </div>
</div>
{% endblock content %}