{% extends 'main/layout.html' %}

{% block title %}
세부사항
{% endblock title %}

{% block content %}
{% load staticfiles %}
<div class="container">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=54e0d986be97f038df9b40189afca1d8&libraries=services,clusterer,drawing"></script>

<div id="map" style="width:900px;height:400px; margin-bottom:30px;"></div>

<script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new daum.maps.LatLng(37.56715, 126.98012), // 지도의 중심좌표
        level: 3, // 지도의 확대 레벨
        mapTypeId : daum.maps.MapTypeId.HYBRID // 지도종류
    };
// 지도를 생성한다
var map = new daum.maps.Map(mapContainer, mapOption);
// 지도 타입 변경 컨트롤을 생성한다
var mapTypeControl = new daum.maps.MapTypeControl();
// 지도의 상단 우측에 지도 타입 변경 컨트롤을 추가한다
map.addControl(mapTypeControl, daum.maps.ControlPosition.TOPRIGHT);
// 지도에 확대 축소 컨트롤을 생성한다
var zoomControl = new daum.maps.ZoomControl();
// 지도의 우측에 확대 축소 컨트롤을 추가한다
map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
// 지도에 마커를 생성하고 표시한다
var marker = new daum.maps.Marker({
    position: new daum.maps.LatLng(37.56715, 126.98012), // 마커의 좌표
    draggable : true, // 마커를 드래그 가능하도록 설정한다
    map: map // 마커를 표시할 지도 객체
});
// 마커 위에 표시할 인포윈도우를 생성한다
// 주소-좌표 변환 객체를 생성합니다
var geocoder = new daum.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch('경기 성남시 수정구 성남대로 1342', function(result, status) {

  // 정상적으로 검색이 완료됐으면
   if (status === daum.maps.services.Status.OK) {

      var coords = new daum.maps.LatLng(result[0].y, result[0].x);

      // 결과값으로 받은 위치를 마커로 표시합니다
      var marker = new daum.maps.Marker({
          map: map,
          position: coords
      });

      // 인포윈도우로 장소에 대한 설명을 표시합니다
      var infowindow = new daum.maps.InfoWindow({
          content: '<div style="width:150px;text-align:center;padding:6px 0;font-weight:bold;">경기 성남시 수정구 성남대로 1342</div>'
      });
      infowindow.open(map, marker);

      // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
      map.setCenter(coords);
  }
});
</script>


    <div class="row">
        <div class="col-sm-4">
            {% if pLot_obj.photo %}
            <img class="detailimg" src='{{ pLot_obj.photo.url }}'>
            {% else %}
                <img class="detailimg" src="{% static 'images/kakao.jpg' %}" alt="parkingimg">
            {% endif %}
        </div>
        <div class="col-sm-8">
            <div class="form-group row">
                <label for="labelAddress" class="col-sm-3 detail-title">주차장 주소</label>
                <label id="labelAddress" class="col-sm-5 detail-font">{{pLot_obj.address}}</label>
            </div>
            <div class="form-group row">
                <label for="labelAddress" class="col-sm-3 detail-title">전화번호</label>
                <label id="labelAddress" class="col-sm-5 detail-font">{{pLot_obj.tel}}</label>
            </div>
            <div class="form-group row">
                <label for="labelAddress" class="col-sm-3 detail-title">시간당 이용 금액</label>
                <label id="labelAddress" class="col-sm-5 detail-font">{{pLot_obj.price}}</label>
            </div>
            <div class="form-group row">
                <label for="inputTime2" class="col-sm-3 col-form-label detail-title">이용 가능 시간</label>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label word-line" for="defaultCheck1">00:00-01:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label word-line" for="defaultCheck1">01:00-02:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                        <label class="form-check-label word-line" for="defaultCheck1">02:00-03:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck4">
                        <label class="form-check-label word-line" for="defaultCheck1">03:00-04:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                        <label class="form-check-label word-line" for="defaultCheck1">04:00-05:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck6">
                        <label class="form-check-label word-line" for="defaultCheck1">05:00-06:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck7">
                        <label class="form-check-label word-line" for="defaultCheck1">06:00-07:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck8">
                        <label class="form-check-label word-line" for="defaultCheck1">07:00-08:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck9">
                        <label class="form-check-label word-line" for="defaultCheck1">08:00-09:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck10">
                        <label class="form-check-label word-line" for="defaultCheck1">09:00-10:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck11">
                        <label class="form-check-label word-line" for="defaultCheck1">10:00-11:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck12">
                        <label class="form-check-label word-line" for="defaultCheck1">11:00-12:00</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck13">
                        <label class="form-check-label word-line" for="defaultCheck1">12:00-13:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck14">
                        <label class="form-check-label word-line" for="defaultCheck1">13:00-14:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck15">
                        <label class="form-check-label word-line" for="defaultCheck1">14:00-15:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck16">
                        <label class="form-check-label word-line" for="defaultCheck1">15:00-16:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck17">
                        <label class="form-check-label word-line" for="defaultCheck1">16:00-17:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck18">
                        <label class="form-check-label word-line" for="defaultCheck1">17:00-18:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck19">
                        <label class="form-check-label word-line" for="defaultCheck1">18:00-19:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck20">
                        <label class="form-check-label word-line" for="defaultCheck1">19:00-20:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck21">
                        <label class="form-check-label word-line" for="defaultCheck1">20:00-21:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck22">
                        <label class="form-check-label word-line" for="defaultCheck1">21:00-22:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck23">
                        <label class="form-check-label word-line" for="defaultCheck1">22:00-23:00</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck24">
                        <label class="form-check-label word-line" for="defaultCheck1">23:00-24:00</label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group row right-button-group">
        <button type="button" class="btn btn-success right-button">수정</button>
        <button type="button" class="btn btn-secondary right-button">삭제</button>
        <button type="button" class="btn btn-secondary right-button">목록</button>
    </div>
    <div class="form-group row right-button-group">
        <button type="button" class="btn btn-secondary right-button">목록</button>
        <button type="button" class="btn btn-success right-button">이용신청</button>
    </div>
</div>
</div>
{% endblock content %}
