{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{% block title %}{% endblock %}</title>
	
	<!-- reset CSS -->
        <!-- <link rel="stylesheet" href="reset.css"> -->
    <!-- Bootstrap core CSS -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">

</head>
<body>
    <div class="container-fluid">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            
        <a class="navbar-brand" href="/">카카오 주차장</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse mynav" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto nav-left">
	            <li class="nav-item">
	                <a class="nav-link" href="/parkinglist">주차장 목록</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="/add">주차장 등록</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">내 주차장</a>
	            </li>
            </ul>
            <div class="navbar-nav ml-auto my-2 my-lg-0">
                <a class="nav-item nav-link" href="#" aria-disabled="true">로그인</a>
                <a class="nav-item nav-link" href="#" aria-disabled="true">회원가입</a>
            </div>
        </div>
            </div>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

	<footer>
        <div class="container">
            개발자들...
        </div>
		
	</footer>

    </div>

</body>
</html>