{% extends 'main/layout.html' %}
{% block title %}
주차장 목록
{% endblock %}
{% block content %}
<div class="container">
<div class="page">
    <header>
        <h1>
            주차장 목록
        </h1>
    </header>
    <div class="inline no-wrap">            
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="btn-group ml-auto">
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">거리순</a>
            <a class="dropdown-item" href="#">가격순</a>
          </div>
        </div>
    </div>
    
    
    <table class="table table-hover table-margin">
      <thead class="thead-color">
        <tr>
          <th class="word-line" scope="col">#</th>
          <th class="word-line" scope="col">제공자</th>
          <th class="word-line address-space" scope="col">주소</th>
          <th class="word-line" scope="col">시간당 이용금액</th>
          <th scope="col">거리</th>
        </tr>
      </thead>
      <tbody class="detail-font">
        {% for list in pLotList_obj %}
        <tr onclick="location.href='https://kakaoparking01-kplwy.run.goorm.io/parkinglist/{{list.pk}}'">
          <th scope="row">1</th>
          <td>{{list.owner}}</td>
          <td>{{list.address}}</td>
          <td>{{list.price}}</td>
          <td>{{list.distance}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    <nav aria-label="Page navigation example aria-label-color">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link mycolor" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link mycolor" href="#">1</a></li>
        <li class="page-item"><a class="page-link mycolor" href="#">2</a></li>
        <li class="page-item"><a class="page-link mycolor" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link mycolor" href="#">Next</a>
        </li>
      </ul>
    </nav>

</div>

</div>
{% endblock %}