/* layout */
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Jua');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&subset=korean');
body {
    font-family: 'Do Hyeon', sans-serif;
}
.mynav {
    display: flex;
}
.nav-left {
    justify-content: flex-start;
}
.nav-right {
    justify-content: flex-end;
}

footer {
    background: #FFBF00;
    padding: 20px;
}

.page {
    margin: 100px;
}

#mycontainer {
    display: flex;
    justify-content: center;
    padding: 100px;
}
/* detail */

.detailimg {
    width: 100px;
    height: 100px;
}

.detail-title {
    font-size: 20px;
}

.detail-font {
    font-family: 'Nanum Gothic', sans-serif;
}

/* list */
.thead-color {
    background: #FFBF00;
}

.table-margin {
    margin-top: 10px;
}

.inline {
    display: flex;
}

.mycolor {
    color: green;
}

/* add & edit */

h1{
    margin-bottom:1em;
}

.right-button-group{
    justify-content: flex-end;
}

.right-button{
    margin-left: 10px;
}

.no-wrap{
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	align-content: stretch
}

.word-line{
    word-break: keep-all
}

.small-btn{
    width: 50px;
    height: 30px;
    font-size: 15px;
}

.address-space{
    width: 30em;
}